.buttonBox{
    height: 42px;
    width: 90px;
    background-color: rgb(44, 167, 255);
    color: white;
    border-radius: 6px;
}
.btnBox{
    height: 42px;
    width: 110px;
    background-color: rgb(214, 238, 255);
    color: black;
    border-radius: 6px;
}
